<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beneficiaries List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .container{
      position: absolute;
      top:10%;
      left: 10%;
    }

    .card {
      background: linear-gradient(135deg, #fff 0%, #f8f9fa 70%);
      border: 1px solid #ddd; /* Add a border */
      border-radius: 10px; /* Add rounded corners */
      box-shadow: 0 4px 10px rgba(0,0,0,0.2), 0 10px 20px rgba(0,0,0,0.15);
      transition: 0.3s;
    }

    .card:hover {
      box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 14px 28px rgba(0,0,0,0.2);
    }
  </style>
</head>
<body>

<div th:if="${msg}" class="alert alert-success text-center">[[${msg}]]</div>
<div th:if="${msg2}" class="alert alert-danger text-center">[[${msg2}]]</div>
<div class="container" style="text-align: center">
  <div class="card">
    <div class="card-header" style="background-color: #dc3545; color: #fff;">BENEFICIARIES LIST</div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Beneficiary Name </th>
          <th scope="col">Beneficiary Account No.</th>
          <th scope="col">Amount</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <form action="#" th:action="@{/transferMoney}" method="post">
          <th:block th:each="list : ${beneficiariesList.beneficiaries}">
            <tr>
              <td th:text="${list.beneficiaryName}"></td>
              <td th:text="${list.beneficiaryAccountNo}"></td>
              <td>
                <input type="text" id="sendToBeneficiary" th:name="'beneficiary-' + ${list.beneficiaryId}" class="form-control">
              </td>
              <td><button type="submit" class="btn btn-info">Send</button> </td>
            </tr>
          </th:block>
        </form>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
