<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Beneficiary</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .container{
        position: absolute;
        top:20%;
        left: 10%;
      }
    </style>
</head>
<body>
<div class="container" style="text-align: center">
  <div class="card">
    <div class="card-header" style="color: crimson">ADD NEW BENEFICIARY</div>
      <div class="card-body">
        <form action="#" th:action="@{/saveNewBeneficiary}" method="post">
          <div class="form-group">
            <label for="beneficiaryName"> Beneficiary Name
              <input class="form-control" style="width: 20rem" type="text" id="beneficiaryName" name="beneficiaryName" th:field="*{beneficiaryName}" required>
            </label>
            </div>

          <div class="form-group">
            <label for="beneficiaryAccount"> Beneficiary Account Number
              <input class="form-control" style="width: 20rem" type="text" id="beneficiaryAccount" name="beneficiaryAccount" th:field="*{beneficiaryAccount}" required>
            </label>
          </div>

          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </div>
  </div>
</div>
</body>
</html>