<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TransactionLimit</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .container{
      position: absolute;
      top: 20%;
      text-align: center;
      left: 9%;
    }
  </style>
</head>
<body>
<div th:if="${msg}" class="alert alert-success text-center">[[${msg}]]</div>
<div th:if="${msg2}" class="alert alert-danger text-center">[[${msg2}]]</div>
<div class="container">
  <div class="card">
    <div class="card-header" style="color: crimson">
      Set Your Transaction Limit
    </div>
    <div class="card-body">
      <form action="#" th:action="@{/updateTransactionLimit}" method="post">
        <p>Your current Transaction Limit is &nbsp; <span style="color: green; font-style: italic" th:text="${transactionLimit}"></span></p>
        <p>You can change your transaction limit by entering the limit here</p>
        <input type="text" class="form-control" style="width: 20rem;margin-left: 23rem" id="transactionLimit" name="transactionLimit" th:value="*{transactionLimit}">
        <footer><button type="submit" class="btn btn-success" style="margin-top: 15px">Submit</button></footer>
      </form>
    </div>
  </div>
</div>
</body>
</html>